asgiref==3.7.2
Django==3.2.25
forbiddenfruit==0.1.4
neat-python==0.92
networkx==3.1
numpy==1.25.1
packaging==23.1
Panda3D==1.10.13.post1
pathfinding==1.0.1
Pillow==10.0.0
pygame==2.5.0
pyjs==0.8.2
pyparsing==3.0.9
PyQt5==5.15.10
PyQt5-Qt5==5.15.2
PyQt5-sip==12.13.0
Python.js==1.2.0
six==1.16.0
sqlparse==0.5.0
tk==0.1.0
tzdata==2024.1
